<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Got-API</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../public/css/style.css" />
  </head>
  <body>
    <main class="container">
      <div class="row">
        <div class="col-12">
          <h1>Characters:</h1>
          <table class="table table-striped">
            <thead class="thead thead-dark">
              <th>Name</th>
              <th>Image</th>
              <th>House</th>
              <th>Actor Name</th>
              <th>Killed</th>
              <th>Killed By</th>
            </thead>
            <tbody>
              <% for (const character of characters) { %>
              <tr>
                <td>
                  <%= character.characterName %>
                </td>
                <td>
                  <a href="/api/characters/<%= character.characterName.split(' ').join('_') %>"">
                    <img src="<%= character.characterImageThumb %>" />
                  </a>
                </td>
                <td><%= character.houseName %></td>
                <td><%= character.actorName %></td>
                <td><%= character.killed %></td>
                <td><%= character.killedBy %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>
