<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Got-API</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <main class="container">
      <div class="row">
        <div class="col-12">
          <h1><%= character.characterName %></h1>
          <hr />
          <% if(character.characterImageThumb) {%>
          <img
            src="<%=character.characterImageThumb%>"
            alt="<%=character.characterName %> thumbnail"
          />
          <% }%> <% if(character.houseName) {%>
          <h4>From the house of: <%=character.houseName %></h4>
          <% }%> <% if(character.actorName) {%>
          <h4>Played by: <%=character.actorName %></h4>
          <% }%> <% if(character.killed) {%>
          <h4>Killed: <%=character.killed %></h4>
          <% }%> <% if(character.killedBy) {%>
          <h4>Killed By: <%=character.killedBy %></h4>
          <% }%>
        </div>
      </div>
    </main>
  </body>
</html>
